USE [master]
GO
/****** Object:  Database [Library]    Script Date: 18/12/2013 14:25:21 ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Library.mdf' , SIZE = 25600KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Library_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 18/12/2013 14:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[B_id] [int] IDENTITY(1,1) NOT NULL,
	[B_author] [nvarchar](max) NULL,
	[B_title] [nvarchar](max) NULL,
	[B_ISBN] [nvarchar](max) NULL,
	[B_publisher] [nvarchar](max) NULL,
	[B_publicationDate] [datetime] NULL,
	[B_subject] [nvarchar](max) NULL,
	[B_language] [nvarchar](max) NULL,
	[B_datetime] [datetime] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[B_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Borrowing_record]    Script Date: 18/12/2013 14:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrowing_record](
	[BR_id] [int] IDENTITY(1,1) NOT NULL,
	[B_id] [int] NULL,
	[L_id] [int] NULL,
	[BR_datetime] [datetime] NULL,
	[BR_renewalTimes] [int] NULL,
	[BR_returnedDate] [datetime] NULL,
	[BR_shouldReturnedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Borrowing_record] PRIMARY KEY CLUSTERED 
(
	[BR_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LibraryUser]    Script Date: 18/12/2013 14:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibraryUser](
	[L_id] [int] IDENTITY(1,1) NOT NULL,
	[L_firstName] [nvarchar](max) NULL,
	[L_lastName] [nvarchar](max) NULL,
	[L_phoneNo] [nvarchar](max) NULL,
	[L_email] [nvarchar](max) NULL,
	[L_IDNO] [nvarchar](max) NULL,
	[L_birthday] [datetime] NULL,
	[L_password] [nvarchar](max) NULL,
	[L_accessRight] [nvarchar](max) NULL,
	[L_registerDatetime] [datetime] NULL,
	[L_isBan] [bit] NULL,
 CONSTRAINT [PK_LibraryUser] PRIMARY KEY CLUSTERED 
(
	[L_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
